div{
    width: 100px;
    height: 100px;
    background-color: red;
    color: black;
    margin: 10px;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: center;
    flex-direction: row;
}