.container{
    display: inline-grid;
    grid-template-rows: auto ;
    grid-template-columns: auto auto auto auto auto auto;
    height: 200px;
    width: 1300px;  
    background-color: salmon;
    column-gap: 20px;
}
img{
    height: 200px;
    width: 300px;
    border-radius: 5px;
    grid-row-start: auto;
    scale: 1;
}
img:hover
{
    scale:1.1;
    animation-play-state: paused;
}

.first,.second,.third,.fourth,.fifth,.six
{
    position: relative;
    animation: move1 10s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}
@keyframes move1 {
    0%{transform: translate(1800px,0px)}
    100%{transform: translate(-2000px,0px)}
    0%{transform: translate(1800px,0px)}
}
